<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
    <title>Books</title>
</head>

<body>
    {% if books %}
        {% for book in books %}
            <div>
                <h1>{{ book.title }}</h1>
                <p>{{ book.description }}</p>
                <p>{{ book.category }}</p>
            </div>
        {% endfor %}
    {% else %}
        <h1>There are no such books</h1>
    {% endif %}
    {% include 'footer.html' %}
</body>

</html>