<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
    <title>Books</title>
</head>

<body>
    <h1>Basic Book Library</h1>
    <h2>Search Books:</h2>
    <h3>By Name:</h3>
    <form method="GET" action="{% url 'get_book_by_name' %}">
        <label for="title">Enter book name: </label>
        <input type="text" id="title" name="title" required>
        <button type="submit">Search</button>
    </form>

    <h3>By Category:</h3>
    <form method="GET" action="{% url 'get_books_by_category' %}">
        <label for="category">Enter book category: </label>
        <input type="text" id="category" name="category" required>
        <button type="submit">Search</button>
    </form>

    <h3>By Author:</h3>
    <form method="GET" action="{% url 'get_books_by_author' %}">
        <label for="author">Enter author name: </label>
        <input type="text" id="author" name="author" required>
        <button type="submit">Search</button>
    </form>

    <label>You can also create your own book!</label>
    <div class="button_container">
    <a href="{% url 'create_book' %}">
        <button>Create a new book</button>
    </a>
    </div>
    {% if categories %}
        {% for category, books in categories.items %}
            <h3>Category: {{ category }}</h3>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                        <tr>
                            <td>{{ book.title }}</td>
                            <td>{{ book.description }}</td>
                            <td>
                                <form method="GET" action="{% url 'details_book' book.id %}">
                                    {% csrf_token %}
                                    <button type="submit">Details</button>
                                </form>
                                <form method="POST" action="{% url 'delete_book' book.id %}" onsubmit="return confirm('Are you sure you want to delete this book?');">
                                    {% csrf_token %}
                                    <button type="submit">Delete</button>
                                </form>
                                <form method="GET" action="{% url 'update_book' book.id %}">
                                    {% csrf_token %}
                                    <button type="submit">Update</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    {% else %}
        <h1>There are no books available</h1>
    {% endif %}
</body>


</html>